.btn_tampil {
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 30px 5px 30px;
    font-family: roboto;
    /* margin-left:30%; */
    font-size: 15px;
    background-color: #F4EB93;
    color: #171C7B;
    border-color: #171C7B;
    font-weight: bold;
}

.ctnr {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F14080;
    color: #171C7B;
    padding: 10px;
    border-radius: 20px;
}

.tgl {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 270px;
    height: 30px;
    border-radius: 5px;
    border-color: #F4EB93;
    font-family: roboto;
    font-size: 13px;
}

.input {
    background-color: rgb(154, 151, 151);
}

.page {
    margin: 5px 40px 0px 40px;
}

.dropdown-content {
    display: none;
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: block;
    box-sizing: border-box;
    box-shadow: 20px 20px 50px 10px pink inset;
    border-radius: 20px;
}

.card-kp {
    width: 400px;
    height: 300px;
    background: #F14080;
    border-radius: 30px;
    position: relative;
    display: flex;
    margin: 20px;
    overflow: hidden;
    /* overflow: scroll; */
}

.card-h {
    width: 200px;
    border-radius: 30px;
    position: relative;
    text-align: center;
    border: solid;
    background: rgb(244, 241, 241);
    border-color: #171C7B;
    padding: 20px;
}

.card-f {
    width: 200px;
    height: auto;
    border-radius: 30px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.img-t {
    max-width: 100px;
}

.card-kp-n {
    width: 400px;
    height: 300px;
    background: #F14080;
    border-radius: 30px;
    position: relative;
    display: flex;
    overflow: hidden;
    /* overflow: scroll; */
}

.img-n {
    max-width: 800px;
    justify-items: center;
    display: inline;
    flex-direction: row;
    /* float: right; */
}

.card-d {
    border: solid;
    background: rgb(244, 241, 241);
    border-color: #171C7B;
    width: 200px;
    height: auto;
    border-radius: 30px;
    position: relative;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

.card-kp:hover {
    overflow: auto;
}